@use '../base/variables' as v;
@use '../base/mixins' as m;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: v.$background;
  font-family: v.$fuente-principal;
  font-size: 1.6rem;
  line-height: 1.8;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../img/bgTel.png);
  @include m.telefono{
    background-image: url(../img/bgTablet.png);
  }
  @include m.tablet{
    background-image: url(../img/bgDesktop.png);
  }

}
p {
  color: v.$negro;
  font-size: 2rem;
}
.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img,
picture {
  width: 100%;
  display: block;
}

h1, h2, h3 {
  font-family: v.$fuente-principal;
  margin: 2.5rem;
  font-weight: 300;
  text-align: center;

}

h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 3.4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.6rem;
}