@use '../base/variables' as v;
@use '../base/mixins' as m;

i{
  padding-right: 3rem;
  @include m.tablet{
    font-size: 5rem;
  }
  color: v.$blanco;
}
h1,h3{
  color: v.$blanco;
}

.contenido-contacto{
  display: flex;
  flex-direction: column;

  i{
    &:hover{
      color: v.$hover;
    }
  }

  .contacta{
    h2,h3{
      text-align: left;
    }
    h2{
      margin-top: 10rem;
      margin-left: 25rem;
    }
    h3{
      margin-left: 35rem;
      font-weight: v.$bold;
    }

  }

  .mail-redes{
    h2{
      margin-top: 12rem;
      font-weight: v.$bold;
    }
  }

  .mail-redes{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }

}


